.wcard{
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 10px;
  margin-top: 20px;
  &:first-child{
    margin-top: 0;
  }
  &__title{
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
  }
  &__weather{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background: rgb(128,167,245);
    background: linear-gradient(180deg, rgba(128,167,245,1) 0%, rgba(80,109,166,1) 52%, rgba(80,109,166,1) 100%);
    &--night{
      background: rgb(2,0,36);
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(26,44,80,1) 50%, rgba(45,75,134,1) 100%);
    }
  }
  &__temp{
    font-size: 4em;
    font-weight: 700;
  }

  &__desc{
    margin-top: 10px;
    font-size: 1.4em;
  }
  &__stat{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 1.4em;
    margin-top: 10px;
    &:first-child{
      margin-top: 20px;
    }
  }
  &__group{
    display: flex;
  }
  &__icon{
    fill: #fff;
    height: 25px;
  }
  &__wind{
    width: 30px;
    height: 30px;
  }
  &__error{
    font-size: 14px;
    margin-top: 10px;
  }
  &__text{
    display: flex;
    align-items: center;
    &--ml10{
      margin-left: 10px;
    }
  }
}






